.App {
  font-family: sans-serif;
  text-align: center;
}

li {
  padding: 2rem;
  border: 0.2rem solid rgb(11, 211, 178);
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 12rem;
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(6, 202, 176);
}

hr {
  margin: auto;
  width: 50%;
  margin-bottom: 1.6rem;
}

button {
  padding: 0.6rem;
  margin: 0.6rem;
  font-size: larger;
  font-weight: bolder;
  border: 0.2rem solid rgb(236, 62, 105);
  background-color: rgb(231, 91, 114);
  border-radius: 0.5rem;
}
p {
  border: 1px solid rgb(4, 13, 129);
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  color: white;
  background-color: rgb(6, 13, 100);
}